.about{
  height: 100vh;
  min-height: rem(550px);
  &__container{
    width: $width;
    max-width: rem(940px);
    height: 100%;
    justify-content: center;
    padding: rem(24px) 0 rem(45px);
    @include phones{
      width: 95%;
      justify-content: center;
    }
  }
  &__info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: rem(46px);
  }
  &__title{
    margin-bottom: rem(5px);
    font-size: rem(32px);
  }
    &__subtitle{
      max-width: rem(451px);
      font-size: 18px;
      line-height: 1.5;
    text-align: center;
  }
  &__items{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  &__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    &:before{
      content: url("../img/Hello/separator.png");
      position: absolute;
      top: rem(30px);
      right: 0;
    }
  }
  &__img{
      width: rem(125px);
      height: rem(125px);
      background-color: $grey;
      border-radius: 50%;
      position: relative;
      margin-bottom: rem(17px);
    }
  &__item-img{
  position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   margin: auto;
  }
  &__item-name{
    margin-bottom: rem(13px);
  }
  &__item-rounds{
    display: flex;
    align-items: center;
    padding-bottom: rem(134px);
  }
  &__round{
      width: rem(15px);
      height: rem(15px);
      background-color: $grey;
      border-radius: 50%;
      margin-right: rem(10px);
      &--bigger{
        width:rem(20px);
        height:rem(20px);
      }
  }
    &__item-info{
      width: rem(285px);
      line-height: 1.3;
    }
}