.benefit{
  text-align: center;
  @include phones{
    text-align: start;
  }
  &__image{
    @include phones{
    margin-right: 2%;
  }
  }
  &__image-wrapper{
    display: inline-block;
    width: rem(126px);
    height: rem(126px);
    position: relative;
    background: $grey;
    border-radius: 50%;
    overflow: hidden;
  }
  &__icon{
    width: rem(62px);
    height: rem(69px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__text{
    @include phones{
      flex: 70%;
    }
  }
  &__title{
    @include phones{
      text-align: start;
    }
  }
  &__desc{
    @include phones{
      text-align: start;
    }
  }
}