.benefit{
  text-align: center;
  &__image-wrapper{
    display: inline-block;
    width: 126px;
    height: 126px;
    position: relative;
    background: $grey;
    border-radius: 50%;
    overflow: hidden;
  }
  &__icon{
    width: 62px;
    height: 69px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}