.button{
  background: $orange;
  padding: 22px 43px;
  border-radius: 50px;
  font-weight: Bold;
  text-transform: uppercase;
  color: $black;
  text-decoration: none;
  font-size: 16px;
  border: 2px solid;
  border-color: $orange;
  &:hover{
    background: #FFD517;
  } 
  &--reset{
    background: transparent;
    border-color: transparent;
    &:hover{
      color: $orange;
      background: transparent;
    }
  }
}