.footer{
  &__container{
    padding-left: 81px;
    width: 940px;
  }
  &__address{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__items{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}