.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: rem(87px);
  @include tablets{
    background-color: #1968B1;
    padding: rem(24px) 5%;
  }
  &__logo{
    fill:#ffffff;
  }
}