.menu{
  display: none;
  position: relative;
    margin-top: rem(139px);
  &__container{
    margin-left: rem(-40px);
    display: flex;
  }
  &__background{
    max-height: rem(652px);
  }
  &__list{
    display:flex;
  }
}