.presentation{
  background-color: #F8FAF9;
  height: 100vh;
  &__container{
    width: $width;
    max-width: rem(940px);
    height: 100%;
    justify-content: center;
    padding: 0 0 rem(45px);
  }
  &__title{
    margin-top: rem(107px);
    text-align: center;
  }
  &__content{
    display:flex;
    flex-direction: column;
    align-items: center;
  }
  &__video{
    margin-bottom: rem(-11px);
  }
  &__main{
    position: relative;
  }
  &__play{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin: auto;
    width: rem(75px);
    height: rem(109px);
    z-index: 10;
  }
  &__scale{
    position: absolute;
    bottom: 0;
  }

  &__settings{
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    left: rem(10px);
  }
  &__elems{
    display: flex;
    align-items: center;
  }
  &__elem{
    &--orange-scale{
      width: rem(140px);
    }
    &--grey-scale{
      width: rem(302px);
    }
    &--small-orange-scale{
      width: rem(37px);
    }
    &--small-grey-scale{
      width: rem(19px);
      height: rem(4px);
    }
  }
  &__video-reg{
    height: rem(36px);
    margin-right: rem(35px);
    display: flex;
    align-items: center;
  }
  &__video-play{
    margin-right: rem(35px);
  }
  &__video-vol{
    display: flex;
    align-items: center;
    &:first-child{
      margin-right: rem(15px);
    }
  }
  }