.reviews{
  height: 100vh;
  &__container{
    width: $width;
    max-width: rem(940px);
    height: 100%;
    justify-content: center;
    padding: rem(24px) 0 rem(45px);
  }
  &__title{
  padding-top: rem(40px);
  text-align: center;
  margin-bottom: rem(26px);
  }
  &__items{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__content{
    background-color: #F8FAF9;
    display: flex;
    align-items: center;
    padding-top: rem(44px);
    padding-left: rem(43px);
    padding-bottom: rem(44px);
    padding-right: rem(140px);
    margin-bottom: rem(15px);
    @include tablets{
      flex-direction: column;
      text-align: center;
      padding: rem(44px) rem(120px);
    }
    @include phones{
      padding: rem(44px) rem(20px);
    }
  }
  &__img{
    margin-right: rem(39px);
    @include tablets{
      width: rem(130px);
      height: rem(130px);
      margin-right: 0;
    }
  }
  &__info{
    padding-bottom: rem(7px);
  }
  &__info-title{
    margin-bottom: rem(7px);
    color: #292929;
    font-weight: bold;
  }
    &__text{
      max-width: rem(454px);
      line-height: 1.1;
      margin-bottom: rem(32px);
    }
    &__persons{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__person{
      max-width: rem(74px);
      max-height: rem(74px);
      margin-right: rem(5px);
      border-radius: 50%;
      border: 6px solid;
      border-color: transparent;
      box-sizing: content-box;
    }
    &__picture{
      max-width: rem(74px);
      max-height: rem(74px);
    }
    &__list{
      position: relative;
    }
    &__review{
      position: absolute;
      top: 0;
      right: 0;
      opacity: 0;
    }
  }