.social{
  display: flex;
  &__item{
    margin-right: rem(15px);
    &:last-child{
      margin-right: 0;
    }
  }
  &__link{
    fill: #B3B3B3;
    &:hover{
      fill: $black;
    }
  }
}