.team{
  &__container{
    width: $width;
    max-width: rem(940px);
    height: 100vh;
    min-height: rem(650px);
    justify-content: center;
    padding: rem(24px) 0 rem(45px);
  }
  &__title{
    margin-top: rem(60px);
    text-align: center;
    margin-bottom: rem(46px);
  }
  &__list{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    @include tablets{
      flex-direction: column;
      flex-wrap: wrap;
    }
    &--desktop{
      @include tablets{
        display: none;
      }
    }
    &--mobile{
      display:none;
      flex-direction: column;
      flex-wrap: wrap;
      @include tablets{
        display: flex;
      }
    }
  }
  &__item{
    margin-right: rem(21px);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    &:last-child{
      margin-right: 0;
    }
    @include tablets{
      margin-right: 0;
    }
  }
  &__img{
    margin-bottom: rem(18px);
  }
  &__person{
    display: flex;
    align-items: center;
    font-size: rem(21px);
    font-weight: bold;
    color: #292929;
    @include tablets{
      margin-bottom: rem(8px);
      }
  }
  &__name{
    display: flex;
    align-items: center;
  }
  &__content{
    position: absolute;
    top: 100%;
    text-align: center;
    overflow: hidden;
    height: 0;
    @include tablets{
      position: static;
      max-width: 240px;
      width: 100%;
    }
  }
  &__prof{
    font-size: rem(18px);
    color: $black;
    margin-bottom: rem(4px);
  }
  &__desc{
    font-size: rem(18px);
    color: #666666;
  }
}